@{
    ViewBag.Title = "Contato";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Yasmim Pereira<br />
        Matheus Garcia<br />
        <abbr title="Fiel">C</abbr>
        
    </address>

    <address>
        <strong>Problema</strong>  <a href="mailto:Support@example.com">Problemaseu@example.com</a><br />
        <strong>Dinheiro</strong> <a href="mailto:Marketing@example.com">tambemquerokkkk@example.com</a>
    </address>
</main>